@CHARSET "UTF-8";

body, div, button, ul, li, a, header, h4 {
	font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei",
	"微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	/*text-shadow: 0 0 0 #f3f3f3;*/
}


.pt10{
	padding-top: 10px;
}
.pr10{
	padding-right: 10px;
}
.pb10{
	padding-bottom: 10px;
}
.pl10{
	padding-left: 10px;
}

.ml10{
	margin-left: 10px;
}
.mt10{
	margin-top: 10px;
}
.mr10{
	margin-right: 10px;
}
.mb10{
	margin-bottom: 10px;
}

.ml5{
	margin-left: 5px;
}
.mt5{
	margin-top: 5px;
}
.mr5{
	margin-right: 5px;
}
.mb5{
	margin-bottom: 5px;
}


body {
	background: #f0eff4;
	color:#565656;
	font-size: 14px;
}
.color{
	color:#888888 !important;
}
.color-one{
	color:#3eb742 !important;
}
.color-two{
	color:#00a7be !important;
}
.color-three{
	color:#f76051 !important;
}
.index {
	width: 100%;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 15px 0;
}

ul li {
	line-height: 25px;
}

h6 {
	font-size: 0.8em !important;
	font-weight: normal;
	line-height: 10px;
	margin-top: -8px;
}

em {
	font-size: 0.4em;
	font-weight: normal;
	color: #aab2bd;
}

.form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
	ease-in-out 0s;
	width: 85%;
	margin-top: 20px !important;
	margin: 0 auto;
	font-size: 1.0em;
}
.form-control-button {
	background-color: #fff !important;
	background-image: none !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	color: #555 !important;
	display: block !important;
	line-height: 1.42857 !important;
	padding: 6px 12px !important;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
	ease-in-out 0s !important;
	width: 85% !important;
	margin-top: 20px !important;
	margin: 0 auto !important;
	font-size: 1.0em !important;
}
.form-control-inline {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
	ease-in-out 0s;
	width: 85%;
	margin-top: 20px !important;
	margin: 0 auto;
	font-size: 1.0em;
}
.checkbox {
	color: #555;
	display: block;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	width: 85%;
	margin-top: 1px !important;
	margin: 0 auto;
	font-size: 1.0em;
}

.search-form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
	ease-in-out 0s;
	width: 70%;
	margin-top: 1px !important;
	font-size: 1.0em;
	float: left;
}

.search-control {
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 10%;
	color: #fff;
	margin-left: 10px;
}

.btn-info {
	background-color: #00a8ff;
	border-color: #00a8ff;
	color: #fff;
	text-align: center;
	line-height: 34px;
}

.btn-disabled {
	background-color: #52B9E8 !important;
	border-color: #52B9E8 !important;
	color: #fff;
	text-align: center;
	line-height: 34px;
}

.none {
	display: none !important;
}

.both {
	clear: both;
}

.big-f-w {
	color: #fff !important;
}

.big-f-b {
	color: #00a8ff;
}

.big-f-0 {
	color: #000 !important;
	font-weight: 500;
}

.big-f {
	font-size: 1.2em;
}
.middle-f{
	font-size:1.1em;
	font-weight:800;
}
.bottomline {
	height: 70px;
}

.add-right {
	float: right;
	width: auto;
}

.weight {
	font-weight: bolder;
	color:#565656 !important;
}
/*蓝色背景的顶部开始*/
.toparea-b {
	background-color: #00a8ff;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
/*蓝色背景的顶部结束*/
/*白色背景的顶部开始*/
.toparea-w {
	background-color: #fff;
	height: 50px;
	line-height: 50px;
}
/*白色背景的顶部结束*/
/*考场测速及转PC考试开始*/
.title-box {
	padding-left: 20px;
	border-top: 1px solid #c6c6c8;
	border-bottom: 1px solid #c6c6c8;
}

.content {
	padding: 10px 20px;
	text-align: left;
}
/*考场测速及转PC考试结束*/
.nav1 {
	width: 11%;
	text-align: center;
	float: left;
}

.nav2 {
	width: 35%;
	text-align: center;
	float: left;
}

.nav3 {
	width: 40%;
	text-align: center;
	float: left;
}

.nav4 {
	width: 10%;
	text-align: center;
	float: left;
}

.nav5 {
	width: 33%;
	text-align: left;
	float: left;
}

.maindiv {
	width: auto;
	margin-top: 3px;
}

.mainbox{
	width:auto;
	min-height:50px;
	border-top:1px  solid #f9f9f9;
	background:#fff;
	line-height:50px;
	padding:0 10px;
}

/*index.css开始*/
@CHARSET "UTF-8";
/*隐藏部分样式开始*/
.hidden-div {
	background: #fff;
	width: auto;
	height: auto;
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 5px 20px;
}

.hidden-one {
	border-top: 1px solid #e6e5e5;
	padding: 10px 0;
}

.hidden-top {
	width: auto;
	height: auto;
	line-height: 30px;
}

.hidden-main {
	background: none repeat scroll 0 0 #f9f9f9;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 1px 10px 0;
}
/*隐藏部分样式结束*/
/*分数样式开始*/
.nav-grade {
	width: 50px;
	float: left;
	text-align: center;
	margin: 0 10px;
}

.nav-name {
	float: left;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
}

.nav-name-paper {
	width: 90%;
	float: left;
	text-align: left;
}

.mark {
	background: #00a8ff;
	margin-top: -5px;
	height: 68px;
	color: #fff;
	line-height: 50px !important;
}

.caret {
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 10px solid #fff;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	width: 0;
	margin-top: -9px;
	margin-left: 0px;
}

.col-12 {
	width: auto;
	text-align: left;
	font-size: 0.9em;
}

.col-3 {
	width: 24.5%;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.col-4 {
	width: 33%;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.border-none {
	border: 0px !important;
}

.big-font {
	font-size: 1.3rem;
	display: block;
	line-height: 30px;
}

.role1 {
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* Internet Explorer */
	-moz-transform: rotate(30deg); /* Firefox */
	-webkit-transform: rotate(30deg); /* Safari 和 Chrome */
	-o-transform: rotate(30deg); /* Opera */
}

.role2 {
	transform: rotate(60deg);
	-ms-transform: rotate(60deg); /* Internet Explorer */
	-moz-transform: rotate(60deg); /* Firefox */
	-webkit-transform: rotate(60deg); /* Safari 和 Chrome */
	-o-transform: rotate(60deg); /* Opera */
}

.role3 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* Internet Explorer */
	-moz-transform: rotate(90deg); /* Firefox */
	-webkit-transform: rotate(90deg); /* Safari 和 Chrome */
	-o-transform: rotate(90deg); /* Opera */
}

.hidden-shadows {
	-moz-box-shadow: inset 0px 1px 3px #f0eff4; /* 老的 Firefox */
	box-shadow: inset 0px 1px 3px #f0eff4;
}

.main-shadows {
	-moz-box-shadow: 0px 1px 3px #f0eff4; /* 老的 Firefox */
	box-shadow: 0px 1px 3px #f0eff4;
}
/*index.css结束*/

/*footer.css开始*/
.footer{
	position: fixed;
	bottom:0px;
	width:100%;
	height:50px;
	line-height:50px;
	background:#00a8ff;
	z-index:9999;
	box-shadow:1px 0px 9px #eaeaea;
	background-size:30px;
}
.footer-nav{
	float:left;
}


.search-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background: #00a8ff;
	z-index:9999;
}

.bottomline {
	height: 120px;
}
.core{
	width:70px;
	background:#00a8ff url(../../assets/img/m/core.png) 50% no-repeat;
	background-size:22px;
	z-index:500;
}
.add-left{
	width:70px;
	background:#00a8ff url(../../assets/img/m/add-left.png) 50% no-repeat;
	background-size:25px;
	z-index:500;
}
.add-left-back{
	width:70px;
	background:#00a8ff url(../../assets/img/m/back-left.jpg) 50% no-repeat;
	background-size:10px;
	z-index:500;
}
.fresh{
	width:70px;
	background:#00a8ff url(../../assets/img/m/fresh.png) 50% no-repeat;
	background-size:25px;
	z-index:500;
	position: absolute;
	right:70px;
}
.search{
	width:70px;
	float:right;
	background:#00a8ff url(../../assets/img/m/search.png) 50% no-repeat;
	background-size:25px;
	z-index:500;
	position: absolute;
	right:0px;
}
/*footer.css结束*/

/*footer.css结束*/
.bottomline{
	height:70px;
}
.footer{
	position: fixed;
	bottom:0px;
	width:100%;
	height:50px;
	line-height:50px;
	background:#00a8ff;
	z-index:9998;
	box-shadow:1px 0px 9px #eaeaea;
	background-size:30px;
}
.footers{
	position: fixed;
	bottom:0px;
	width:100%;
	height:50px;
	line-height:50px;
	background:#00a8ff;
	z-index:9998;
	box-shadow:1px 0px 9px #eaeaea;
	background-size:30px;
}
.footer-nav{
	float:left;
}
.add-left{
	width:70px;
	background:#00a8ff url(../../assets/img/m/add-left.png) 50% no-repeat;
	background-size:25px;
	z-index:500;
}
.fresh{
	width:70px;
	background:#00a8ff url(../../assets/img/m/fresh.png) 50% no-repeat;
	background-size:23px;
	z-index:500;
	position: absolute;
	right:70px;
}
.search{
	width:70px;
	float:right;
	background:#00a8ff url(../../assets/img/m/search.png) 50% no-repeat;
	background-size:28px;
	z-index:500;
	position: absolute;
	right:0px;
}

/*新添加 zhangjg*/
.menuList{
	height:50px;
	position: fixed;
	bottom: 153px;
	left:0;
	line-height: 50px;
	background-color: #00a8ff;
	border-bottom-color: #fff;
	width:100px;
	text-align: center;
}
#logout{
	color:#fff;
	background-color:#00a8ff !important;
	width:100px;
	border-top:1px solid #fff;
}
/*新增模态层  */

.debug{
	border: 1px solid red !important;
}
.message{
	width:70px;
	background:#00a8ff url(../../assets/img/m/train/new.png) 50% no-repeat;
	background-size:26px;
	z-index:500;
	position: absolute;
	right:140px;
}

.add{
	width:70px;
	background:#00a8ff url(../../assets/img/m/train/add.png) 50% no-repeat;
	background-size:24px;
	z-index:500;
	position: absolute;
	right:0px;
}

/*	新增部分 zhangjg  */

#clazz {
	background-color:#00a8ff !important;
	color:#fff;
	border-bottom:1px solid #fff
}

/*分享相关*/

.new-share{
	padding: 0 20px 15px;
}
.nshare_txt{
	font-size:0.8em;
	line-height:25px;
}
.nshare-div{
	text-align:left;
}
.nshare_button{
	display: inline-block;
	width: 16%;
	height: 50px;
	text-align: center;
	max-width: 60px;
	margin: 0 1%;
}
.wx_share_weixin img{
	border:1px solid #33b336;
}
.wx_share_sina img{
	border:1px solid #f76051;
}
.wx_share_tqq img{
	border:1px solid #4db6e5;
}
.wx_share_qzone img{
	border:1px solid #fdc03c;
}
.wx_share_renren img{
	border:1px solid #4b96d0;
}
.nshare_button img{
	width: 80%;
	border-radius: 100%;
	box-sizing: border-box;
	padding: 15%;
}
.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*msg.js样式*/

.sets-msg{
	margin: 0;
	position :fixed;
	text-align: center;
	font-size : 14px;
	line-height: 40px;
	width : 100%;
	top : 0;
	color : #FFF;
	border-bottom-left-radius : 2px;
	border-bottom-right-radius : 2px;
	z-index : 99999;
	text-shadow : 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-animation-duration : 0.3s;
	animation-duration : 0.3s;
	-webkit-animation-fill-mode : both;
	animation-fill-mode : both;
}
.warning{
	border-color : #ffa400;
	background-color : #ffa400;
}

.success{
	border-color : #37bc9b !important;
	background-color : #37bc9b !important
}

.danger{
	border-color : #E9573F;
	background-color : #E9573F;
}

.fa {
	line-height: inherit !important;
}


